:root {
  --light-yellow: #F0BF5F;
  --standard-yellow: #CC9933;
  --dark-yellow: #A47312;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: #F1F1F1;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-offset {
  padding-top: 35px;
  padding-bottom: 35px;
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--standard-yellow);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--standard-yellow);
}

/* header */
.header {
  padding-top: 30px;
}

.header-top {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.phone {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  transition: color 0.3s ease;
}

.header-item-link {
  transition: color 0.3s ease;
}

.phone:focus,
.header-item-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--standard-yellow);
  color: var(--standard-yellow);
}

.phone:hover,
.header-item-link:hover {
  color: var(--standard-yellow);
}

.phone:active,
.header-item-link:active {
  outline: none;
  color: var(--dark-yellow);
}

.header-login {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--standard-yellow);
  transition: color 0.3s ease;
}

.header-login-icon {
  margin-right: 7px;
  transition: fill 0.3s ease;
}

.header-login-icon path{
  transition: fill 0.3s ease;
}

.header-login:focus {
  outline-offset: 5px;
  outline: 1px solid var(--standard-yellow);
  color: var(--standard-yellow);
}

.header-login:hover {
  color: var(--light-yellow);
}

.header-login:hover path {
  fill: var(--light-yellow);
}

.header-login:active {
  outline: none;
  color: var(--dark-yellow);
}

.header-login:active path {
  fill: var(--dark-yellow);
}

.nav {
  padding: 14px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.header-list {
  align-items: center;
  margin-right: auto;
}

.header-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:focus {
  outline: none;
  background-color: var(--standard-yellow);
  color: #fff;
}

.btn:hover {
  background-color: var(--standard-yellow);
  color: #fff;
}

.btn:active {
  border: 1px solid var(--dark-yellow);
  background-color: var(--dark-yellow);
  color: #fff;
}

/* main */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* special-offers */
.special-offers-general-block {
  min-height: 540px;
}

.special-offers-block {
  flex-direction: column;
  width: calc((100% - 24px) / 2);
}

.special-offers-block:not(:last-child) {
  margin-right: 24px;
}

.special-offers-item {
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  padding: 40px 45px;
  border-radius: 15px;
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.special-offers-item-background1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special1.jpg");
}

.special-offers-item-background2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special2.jpg");
}

.special-offers-item:not(:last-child) {
  margin-bottom: 24px;
}

.right-item {
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/special3.jpg");
}

.special-offers-item-title {
  max-width: 420px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.special-offers-item-title-last {
  max-width: 300px;
  font-size: 60px;
  line-height: 60px;
}

.special-offers-item-price {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.special-offers-item-price-last {
  font-size: 30px;
  line-height: 30px;
}

.special-offers-item-link {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-yellow);
  transition: color 0.3s ease;
}

.special-offers-item-link-icon {
  transition: transform 0.3s ease;
}

/* !!! */
.special-offers-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 1px solid var(--standard-yellow);
  outline-offset: 5px;
  opacity: 0;
}

.special-offers-item-link:focus {
  outline: none;
}

.special-offers-item-link:focus::before {
  opacity: 1;
}

.special-offers-item-link:hover .special-offers-item-link-icon {
  transform: translateX(11px);
}

.special-offers-item-link:active {
  outline: none;
  color: #fff;
}

.special-offers-item-link:active .special-offers-item-link-icon {
  transform: translateX(0);
}

.special-offers-item-link-icon, .services-item-link-icon, .placement-item-last-link-icon {
  margin-left: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* about us */
.about-us-descr {
  max-width: 888px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* services */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
  margin-bottom: 24px;
  padding: 191px 45px 35px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

.services-item-background1 {
  background-image: url("../img/services1.jpg");
}

.services-item-background2 {
  background-image: url("../img/services2.jpg");
}

.services-item-background3 {
  background-image: url("../img/services3.jpg");
}

.services-item-background4 {
  background-image: url("../img/services4.jpg");
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--standard-yellow);
}

.services-item-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.services-item-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

/* !!! */
.services-item-link:focus {
  outline-offset: 8px;
  outline: 1px solid var(--standard-yellow);
}

.services-item-link:hover {
  color: var(--light-yellow);
}

.services-item-link:hover .services-item-link-icon{
  transform: translateX(11px);
}

.services-item-link:hover path{
  stroke: var(--light-yellow);
}

.services-item-link:active {
  outline: none;
  color: var(--dark-yellow)
}

.services-item-link:active .services-item-link-icon{
  transform: translateX(0);
}

.services-item-link:active path{
  outline: var(--standard-yellow);
}

/* advantages */
.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  flex-direction: column;
  width: 276px;
  min-height: 276px;
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
  background-color: #fff;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: auto 66px;
}

.advantages-item-icon1 {
  background-image: url("../img/advantages1.svg");
}

.advantages-item-icon2 {
  background-image: url("../img/advantages2.svg");
}

.advantages-item-icon3 {
  background-image: url("../img/advantages3.svg");
}

.advantages-item-icon4 {
  background-image: url("../img/advantages4.svg");
}

.advantages-item-icon5 {
  background-image: url("../img/advantages5.svg");
}

.advantages-item-icon6 {
  background-image: url("../img/advantages6.svg");
}

.advantages-item-icon7 {
  background-image: url("../img/advantages7.svg");
}

.advantages-item-icon8 {
  background-image: url("../img/advantages8.svg");
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-item-descr {
  margin: 0;
  min-height: 128px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* placement */
.placement-list {
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement-item-preview {
  display: block;
}

.placement-item-text {
  flex-direction: column;
  padding: 45px;
  padding-bottom: 32px;
}

.placement-item-group-top {
  margin-bottom: 16px;
}

.preposition {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placement-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.preposition,
.placement-item-price {
  margin-right: 4px;
}

.placement-item-detail {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.placement-item-group-price {
  margin-right: auto;
}

.placement-item-rating:not(:last-child) {
  margin-right: 6px;
}

.placement-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.placement-item-descr {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placement-btn {
  align-self: flex-start;
  max-width: 100%;
}

.placement-item-last {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 27px;
  background-color: #999999;
  background-image: url("../img/placement-last.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placement-item-link {
  display: inline-flex;
  align-items: center;
  align-self: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.placement-item-link path {
  transition: stroke 0.3s ease;
}

.placement-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: 1px solid coral;
}

.placement-item-link:focus {
  outline-offset: 8px;
  outline: 1px solid var(--standard-yellow);
}

.placement-item-link:hover {
  color: var(--light-yellow);
}

.placement-item-link:hover path {
  stroke: var(--light-yellow);
}

.placement-item-link:active {
  outline: none;
  color: var(--standard-yellow);
}

.placement-item-link:active path {
  stroke: var(--standard-yellow);
}

/* tour */
.tour-container {
  max-width: 1170px;
  padding: 45px;
  border-radius: 15px;
  background: #E9E9E9;
}

.tour-title {
  margin-left: 0;
}

.tour-form-case {
  padding: 30px 28px;
  border-radius: 15px;
  background-color: #fff;
}

.tour-item-case {
  margin-right: auto;
}

.tour-form-item:not(:last-child) {
  margin-right: 41px;
}

.select {
  width: 169px;
}

.date, .number {
  width: 121px;
}

.tour-form-label {
  display: inline-block;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.tour-form-item-elem {
  height: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.tour-form-select {
  width: 169px;
}

.tour-form-date, .tour-form-number {
  width: 121px;
}

.tour-btn {
  padding: 13px 30px;
}

/* contacts */
.contacts-address-case {
  padding: 45px;
  padding-right: 750px;
  border-radius: 15px;
  background-color: #fff;
  background-image: url("../img/contacts-back.jpg");
  background-repeat: no-repeat;
  background-position: 472px 45px;
  background-size: 653px calc(100% - 90px);
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-item {
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;;
}

.contacts-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-item-title {
  margin: 0;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-item-descr {
  width: 229px;
  flex-direction: column;
  align-self: flex-end;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.contacts-item-descr-link {
  color: var(--standard-yellow);
}

.contacts-item-descr-correction {
  color: #999999;
}

.contacts-item-descr-correction:not(:last-child) {
  margin-bottom: 3px;
}

.btn-contacts {
  padding: 27px 30px;
}

/* footer */
.footer-container {
  max-width: 1170px;
  padding: 45px;
  border-radius: 15px;
  background: #333333;
  background-image: url("../img/footer-sun.png");
  background-repeat: no-repeat;
  background-size: 254px 228px;
  background-position: 739px 112px;
}

.left {
  flex-direction: column;
  max-width: 302px;
  margin-right: 125px;
}

.footer-left-descr-top,
.footer-left-descr-bottom,
.footer-right-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.footer-left-descr-top {
  margin-bottom: 37px;
}

.footer-left-descr-bottom {
  margin-bottom: 40px;
}

.right {
  flex-direction: column;
  max-width: 359px;
  margin-right: auto;
}

.footer-right-descr {
  flex-direction: column;
  line-height: 188%;
}

.footer-right-descr:not(:last-child) {
  margin-bottom: 15px;
}

.footer-left-link,
.contacts-item-descr-link {
  position: relative;
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--standard-yellow);
  transition: color 0.3s ease;
}

/* .footer-left-link::before,
.contacts-item-descr-link::before {
  content: "";
  position: absolute;
  outline-offset: 5px;
  outline: 1px solid var(--standard-yellow);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-left-link:focus:before,
.contacts-item-descr-link:focus:before {
  opacity: 1;
} */

.footer-left-link:focus,
.contacts-item-descr-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--standard-yellow);
}

.footer-left-link:hover,
.contacts-item-descr-link:hover {
  color: var(--light-yellow);
}

.footer-left-link:active,
.contacts-item-descr-link:active {
  outline: none;
  color: var(--dark-yellow);
}

.footer-social-list {
  flex-direction: column;
}

.footer-social-item {
  width: 25px;
  height: 25px;
}

.footer-social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-item-link path {
  transition: fill 0.3s ease;
}

.social-item-link:focus {
  outline: none;
}

.social-item-link:focus path{
  outline: none;
  border: none;
  fill: var(--standard-yellow);
}

.social-item-link:hover path{
  fill: var(--standard-yellow);
}

.social-item-link:active path{
  fill: var(--dark-yellow);
}
